html{
    /* website background */
    background-color: #a8dadc;
}

body{
    /* Margin at 0 so it gets rid of margin at edges */
    margin: 0;
}

/* Changes the Nav */
nav{
    text-align: center;
    border-style: solid;
    background-color: #bbd0ff;
    word-spacing: 30px;
    height: 50px;
    padding-top: 10px;
}
