html{
    /* website background */
    background-color: #cad2c5;
}

body{
    /* Margin at 0 so it gets rid of margin at edges */
    margin: 0;
}

/* Changes the Nav */
nav{
    text-align: center;
    border-style: solid;
    background-color: #84a98c;
    word-spacing: 30px;
    height: 50px;
    padding-top: 10px;
}

nav > a{
    /* changed the color of the "a" text inside bar */
    color: #354f52;
    font-size: 30px;
}

.active{
    /* changes the color of tabs when "active" */
    color: white;
    text-decoration-color: white;
}

h1{
    /* Moaves my name to the center */
    text-align: center;
    color: #2f3e46;
}

h2{
    /* moves the "Student Developer to the center */
    text-align: center;
    color: #2f3e46;
}

p{
    text-align: center;
}