html{
    /* website background */
    background-color: #cad2c5;
}

body{
    /* Margin at 0 so it gets rid of margin at edges */
    margin: 0;
}

/* Changes the Nav */
nav{
    text-align: center;
    border-style: solid;
    background-color: #84a98c;
    word-spacing: 30px;
    height: 50px;
    padding-top: 10px;
}

nav > a{
    /* changed the color of the "a" text inside bar */
    color: #354f52;
    font-size: 30px;
}

.active{
    /* changes the color of tabs when "active" */
    color: white;
    text-decoration-color: white;
}

h1{
    /* Moaves my name to the center */
    text-align: center;
    color: #2f3e46;
}

h2{
    /* moves the "Student Developer to the center */
    text-align: center;
    color: #2f3e46;
}

.name{

    margin-bottom: 0px;
    margin-top: 50px;
}

.sub{
    text-align: center;
    margin-top: 1px;
}

p{
    text-align: center;
}

footer{
    box-sizing: border-box;
    text-align: center;
    background-color: #52796f;
    height: 64px;
    padding: 16px;
    /* makes it stay at the bottom of screen */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.fa-github{
    /* Changed the color of the icon */
    color: #2f3e46;
}

    /* added a section to divide hobbys */
section{
    border-top: 1px solid;
}

    /* Moving the words to be on top of icon */
.music, .Gaming, .Coding{
    margin: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

    /* Moved words to be left side of icon */
.fa-music, .fa-gamepad, .fa-code{
    float: left;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0px;
}

    /* changing style for paragraph */
p{
        margin: 20px;
        padding-bottom: 100px;
}
    /* moves words to be on top of pictures */
h3{
    margin: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}
    /* Moves words to be next to picture */
img{
    float: left;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0px;
}
/* Made my message bigger */
#Java-Message{
    font-size: 100px;
}
